<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            margin: 0;
        }
    </style>
</head>
<body bgcolor="cyan">
    <div class="d-flex flex-column justify-content-center" style="height: 100vh;background-image: url('https://i.ytimg.com/vi/X6pE-46Z5fE/maxresdefault.jpg')">
        <div><h1><center><tt>Departments</tt></center></h1></div>

        <div>
            <center><tt>
                <a class="nav-link" href="https://www.msrit.edu/department/cse.html">CSE </a>
                
                <br> 
                
                <a class="nav-link" href="https://www.msrit.edu/department/cse.html">CSE AIML</a>
                
                <br> 
                
                <a class="nav-link" href="https://www.msrit.edu/department/cse.html">CSE CY</a>
            
            
            </tt></center>
        </div>
    </div>
</body>
</html>